<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>OTE is the leading agent of networked business model implementation in economy, the company you build your own success with.</h2>
        <p class="lead">OTE Construction team is a group of professionals established on regional market, bringing in the experiences from global vendors, local partners, customers and local service providers 
         Putting customer success first, open communication, teamwork and dedication to quality are the cornerstones of OTE culture.</p>
         </br>
         
         <h2>Mission</h2>
        <p class="lead">Long-term profitable business through communicating changes that networked business model brings globally into regional economy:
Customizing it through appreciation of the local circumstances and needs of customers and business eco-partnersSynchronizing with local strategies of global technological and solution partners, working as a partner in creation and agent of execution</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
